body{
    margin: 0;
    padding: 0;
    background: url(background.jpg);
    min-height: 1700px;
    background-attachment: fixed;
}
h1{
    color: aqua;
}

.justify-content-between{
    justify-content: space-between ;
}
.align-item-center{
    align-items: center;
}
.container{
    width: 1200px;
    margin: auto;
}
.info-box{
    height: 450px;
}


.d-flex{
    display: flex;
}

.head-bar{
    position: relative;
    height: 350px;
    align-items: center;
    justify-content: center;
    background-color: #07252d;
    display: flex;
    margin: 30px;
    border-radius: 20px;
}

.head-bar h2{
    position: relative;
    font-size: 5em;
    color: #0e3742 ;
    text-align: center;
    -webkit-box-reflect: below -42px linear-gradient(transparent, #0004);

}

.head-bar h2 span{
    animation: animate 5s linear infinite;
}
.head-bar h2 span:nth-child(even){
    animation-delay: 0.3s;
}

@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4;
    }
}





.b-parent-container{
    width: 380px;
    text-align: center;
    background-color: #031321 ;
    border-radius: 20px;
}

.su-button a{
    position: relative;
    display:inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    background: #031321;
}
.su-button a:hover{
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

.su-button a span{
    position: absolute;
    display: block;
}
.su-button a span:nth-child(1){
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.su-button a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.su-button a span:nth-child(3){
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.su-button a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.su-button a span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.su-button a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.su-button a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.su-button a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.info-box img{
    width: 360px;
    justify-content: center;
}
.info-box span:nth-child(1){
    font-size: 30px;
    color: white;
    display: block;
    padding: 5px 0px;
}
.info-box span:nth-child(3){
    font-size: 30px;
    color: white;
}
.b-parent-container:hover{
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 2px 2px 2px #000;

}
.footer-wavy{
    width: 1293px;
    margin: auto;
}
.wavy-parent{
    position: relative;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-color: black;
    display: flex;
    margin: 30px;
    border-radius: 20px;
}
.wavy{
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
}
.wavy span{
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 2em;
    animation: animated 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animated{
    0% 
    {
        transform:translateY(0px);
    }
    20%
    {
        transform: translateY(-20px);
    }
    50%,100%
    {
        transform: translateY(0px);
    }
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4;
    }

}